@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 0 0% 30%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 23 100% 65%;
    --primary-foreground: 0 0% 33%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 213 27% 80%;
    --input: 213 27% 80%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 229 84% 5%;
    --foreground: 215 24% 70%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 23 100% 65%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 69%;
    --accent: 217.2 32.6% 15.5%;
    --accent-foreground: 210 40% 90%;
    --destructive: 0 84% 65%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 20% 30%;
    --input: 215 20% 35%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .logo {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  html.light .logo {
    background-image: url("/logo-light.png");
  }

  html.dark .logo {
    background-image: url("/logo-dark.png");
  }
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #e0e0e0;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #0000003e;
    border-radius: 100vh;
    border: 3px solid #00000000;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #0000007d;
  }
}